<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>
<body>
    <div class="container">

        <div class="card" id="formulario-perguntas">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvar">
                    <label>Titulo</label>
                    <input type="text" placeholder="Tituto" name="titulo" class="form-control">
                    <label>Descrição</label>
                    <textarea placeholder="Descreva sua pergunta " name="descricao" id="" cols="10" rows="10"
                        class="form-control"></textarea>
                        <br>
                    <button class="btn btn-primary ">Perguntar </button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs')%>